
.site__entete h1 {
    text-align: center;
 
}
.site__entete h2{
    text-align: center;
}
nav{
    justify-content: space-between;
}

.logomenu{
    background-color:#FDB813;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 20px;
    

}
.logomenu a{
    border-radius: 50%;
    margin: 20px;
}
.logomenu a {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
  }
  
  .logomenu img {
    width: 100%;
    height: auto;
    display: block;
  }
  

.menusearch {
    display : flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap : wrap;
}



.menu-entete-container {
    
    font-size: 20px;
    color: #222;
    text-transform: uppercase;


.menu { //ul 
    display : flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
   // margin-left : auto;

.menu-item { // li
        flex : 1 0 50px;

    a{
        padding : 10px 20px;
        color : #555;
    }
    a:hover {
        
        background-color: aquamarine;
        text-decoration: none;
    }

}

}


}

@media (max-width: 600px) {
    .logomenu {
    flex-direction: column;
    }
   
  }
 