.main__recherche {

    article {
       background-color: azure; 
       margin: 10px;
    }
}
.recherche__erreur {
    display: flex;
    justify-content: center;
    margin: 0 20px;
    text-align: center;
}